<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <script th:src="|https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js|"></script>
  <script th:src="|https://code.jquery.com/jquery-1.12.4.min.js|"></script>
  <script th:src="|https://code.jquery.com/ui/1.11.4/jquery-ui.min.js|"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="items.js" th:src="@{items.js}"></script>
  <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
  <link rel="icon" href="../public/images/favicon.ico" th:href="@{/images/favicon.ico}" />
</head>

<body>
<header th:replace="layout :: site-header"/>

<div class="container">
  <h2>AWS Document Analyzer Application</h2>
  <div>
    <p>Upload a PDF document to an Amazon S3 Bucket</p>

    <form method="POST" onsubmit="myFunction()" action="/upload" enctype="multipart/form-data">
      <input type="file" name="file"/>
      <input type="submit" value="Submit" />
    </form>
  </div>
  <div>
    <h3>Select the Document to analyze</h3>
    <div class="dropdown">
      <select name="docs" id="docs">

      </select>
    </div>
    <button onclick="analyeDoc()">Analyze Document </button>
  </div>
  <div>
    <br>
    <div class="form-group">
      <label for="textarea1">Amazon Textract results</label>
      <textarea class="form-control" id="textarea1" rows="3"></textarea>
    </div>
  </div>
</div>
</body>
</html>
